{{cart-link}}

{{#if loading}}

  <div class="row justify-content-sm-center">
    <div class="col-sm-auto">
      Loading...
    </div>
  </div>

{{else}}

  {{#if sizeChosen}}
    {{pizza-form pizza=pizza resetForm="resetForm" handleAddToCart="handleAddToCart"}}
  {{else}}
    {{size-menu selectPizza="selectPizza" pizzaSizes=model}}
  {{/if}}

{{/if}}
